* {
         box-sizing: border-box;
      }
      html, body {
         margin: 0;
         padding: 0;
      }
      .row::after {
         content: "";
         display: block;
         clear: both;
      }
      [class*="col-"] {
         width: 100%;
         float: left;
      }
      @media only screen and (min-width: 480px) {
         .col-md-1 { width: 8.33333333% }
         .col-md-2 { width: 16.66666667% }
         .col-md-3 { width: 25% }
         .col-md-4 { width: 33.33333333% }
         .col-md-5 { width: 41.66666667% }
         .col-md-6 { width: 50% }
         .col-md-7 { width: 58.33333333% }
         .col-md-8 { width: 66.66666667% }
         .col-md-9 { width: 75% }
         .col-md-10 { width: 83.33333333% }
         .col-md-11 { width: 91.66666667% }
         .col-md-12 { width: 100% }
      }
      @media only screen and (min-width: 768px) {
         .col-l-1 { width: 8.33333333% }
         .col-l-2 { width: 16.66666667% }
         .col-l-3 { width: 25% }
         .col-l-4 { width: 33.33333333% }
         .col-l-5 { width: 41.66666667% }
         .col-l-6 { width: 50% }
         .col-l-7 { width: 58.33333333% }
         .col-l-8 { width: 66.66666667% }
         .col-l-9 { width: 75% }
         .col-l-10 { width: 83.33333333% }
         .col-l-11 { width: 91.66666667% }
         .col-l-12 { width: 100% }
      }
      /* design the layout */
      footer {
         padding: 10px;
         color: white;
      }
      .main, .aside {
         padding: 15px;
      }
      .main > p {
         text-align: justify;
      }
      .aside > div {
         background: #f50000;
         border: 1px solid rgb(255, 255, 255);
         border-radius: 5px;
         padding: 5px;
      }
      header {
      		position:sticky;
      		position:-webkit-sticky;
      		top:-110px;
      		left:0px;
         background:url("head.jpeg") no-repeat center fixed;
         height:200px;
         color:white;
         padding:0px;
      }
      .header {
      	height:100%;
      	width:100%;
      	background:rgba(0, 0, 0, 0.7);
      	padding-top:120px;
      	padding-left:5px;
      }
      footer {
         background: #333333;
      }
      .menu {
         padding: 10px;
      }
      .menu > ul {
         padding: 0;
         margin: 0;
         list-style-type: none;
      }
      .menu > ul > li > .button {
         background: #903C56;
         width: 100%;
         height:50px;
         margin-top: 5px;
         padding: 0;
         outline:none;
         padding-left:5px;
         border:none;
         font-size: 120%;
         text-align: left;
         color: #f8f9f9;
         -webkit-transition-duration:0.5s;
         transition-duration: 0.5s;
      }
      .menu > ul > li > .button:hover {
         background: #76969D;
         font-size:130%;
      }
       .dd-content{
		  position:relative;
		  width:100%;
		  box-shadow: 0 18px 36px rgba(0, 0, 0, 0.3), 0 14px 11px rgba(0, 0, 0, 0.22);
		  height:0px;
		  transition: height 1s;
		  overflow:scroll;
	  }
li:hover > .dd-content{
	height:200px;
}
.dd-content > a{
	display:block;
	padding:15px;
	font-weight:bolder;
	text-decoration: none;
	background:white;
	color:black;
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
}
.dd-content > a:hover{
	background:black;
	color:white;
}
      .dp {
      	width:250px;
      	height:fit-content;
      	background:rgba(0, 0, 0, 0.6);
      	border-radius:50%;
      	border:5px double black;
      	margin:0 auto;
      	overflow:hidden;
      	padding-top:15px;
      }
      .nav {
      	float:right;
      	margin:0;
      	padding:5px;
      	border:none;
      	border-radius:5px;
      	outline:none;
      	background:black;
      	color:white;
      	font-size:30px;
      	width:fit-content;
      	height:fit-content;
      	-webkit-transition-duration: 1s;
    transition-duration:0.5s;
      }
      .nav:hover {
      	background:white;
      	color:black;
      	cursor:pointer;
      }
      img {
         width: 100%;
         height: auto;
      }


      table{
         table-layout:fixed;
         width:100%;
         margin:0 auto;
         border-collapse:collapse;
         font-family:sans-serif;
      }
      table, th, td{
         border:none;
         border-spacing:10px;
      }
      th, td{
         padding:10px;
         text-align:left;
      }
      thead th:nth-child(1) {
         width:30%;
      }
      thead th:nth-child(2) {
         width:70%;
      }
.dd-btn1 {
    padding-bottom: 5px;
    text-align: center;
    background: black;
    border: 2px solid red;
    margin:5px 10px;
    width: 250px;
    height:50px;
    color: white;
    font-size:25px;
    border-radius:10px;
    outline:none;
    -webkit-transition-duration: 1s;
    transition-duration:0.5s;
  }
  .dd-btn1:hover{
     background:red;
     border-color:blue;
     color:blue;
     cursor:pointer;
  }
  .dd-btn1 > a{
	outline:none;
	text-decoration:none;
	color:yellow;
}
#dd-btn2 {
	width:200px
}
.work{
	display:flex;
	flex-wrap:wrap;
	align-items:center;
	margin:0 auto;
	justify-content:center;
	background:white;
	padding:0;
}
.work > div{
	background:white;
  color:white;
  text-align:center;
	width:250px;
	height:300px;
	margin:10px;
	border:2px solid red;
	box-shadow:0 3px 5px 0 black;
	-webkit-transition-duration:0.5s;
	transition-duration:0.5s;
}
.work > div:hover{
	background:rgba(0, 0, 0, 0.5);
   width:270px;
   height:320px;
	color:white;
	cursor:pointer;
}
#dim {
	background:rgba(0, 0, 0, 0.7);
	width:100%;
	height:100%;
	margin:0;
	padding:5px;
	border:1px solid rgba(0, 0, 0, 0.7);
}
#dev {
	background:url("2.jpeg") no-repeat center;
}
#game {
	background:url("game.jpg") no-repeat center;
}
#animation {
	background:url("3d.jpg") no-repeat center;
}
#graphic {
	background:url("graphic.jpg") no-repeat center;
}
#app {
	background:url("learning.png") no-repeat center;
}
#software {
	background:url("1.jpeg") no-repeat center;
}

.container{
	display:flex;
	flex-wrap:wrap;
	align-items:center;
	margin:0 auto;
	justify-content:center;
	background:white;
	padding:10px;
}
.container > div{
	background:white;
   color:black;
	width:200px;
	height:200px;
	margin:20px;
	border:none;
	box-shadow:0 3px 5px 0 black;
	-webkit-transition-duration:0.5s;
	transition-duration:0.5s;
}
.container > div:hover{
	background:rgba(0, 0, 0, 0.5);
   width:220px;
   height:220px;
	color:white;
	cursor:pointer;
}
.whatsapp {
	position:fixed;
	bottom:20px;
	right:10px;
	height:60px;
	width:60px;
	color:white;
	font-size:55px;
	font-weight:bolder;
	text-align:center;
	border:none;
	border-radius:10px;
	background:green;
	outline:none;
}
